@use 'base/variables' as v;

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$primario;
}

.margin-negativo-4 {
    margin-top: -4rem;
    position: relative;
}

.bg-white {
    background-color: v.$blanco;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-right-0 {
    padding-right: 0;
}